fastapi==0.135.3
uvicorn[standard]==0.44.0
langchain==1.2.15
langgraph==1.1.6
langchain-ollama==1.1.0
langchain-mcp-adapters==0.2.2
sqlalchemy[asyncio]==2.0.49
asyncpg==0.31.0
pydantic-settings==2.14.0
httpx==0.28.1
fastmcp==3.2.3
ipykernel==7.2.0
ruff==0.15.10
mlflow==3.11.1
ruff==0.15.10
